pandas
snowflake-connector-python
matplotlib
snowflake-connector-python[pandas]
pyarrow
Flask
Flask-Cors
Flask-Login
Flask-Loopback
Flask-Restless
Flask-WTF
flipflop
httplib2
pymongo
pyOpenSSL
requests
urllib3
virtualenv
WTForms
bcrypt