@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css');
$dark: #0d152b;
$gray: #1f2633;

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: $dark;
}

body>h1 {
    color: white;
}

.wrapper {
    max-width: 90%;
    margin: 0 auto;
    background-color: rgba(200, 200, 200, .2);
    padding: 1rem;
}

/* 
    Data Tables
*/
table {
    max-width: 90%;
    padding: 1em;
    background-color: lighten($dark, 80);

    .dataTable-top {
        background-color: $gray;

        .dataTable-dropdown {
            label {
                color: white;
            }

        }
    }
}